<h2>Add a Comment</h2>

<%= render 'shared/error_messages', object: @comment %>

<%= form_for [@user, @post, @comment] do |f| %>
  <div class="field">
    <%= f.label :text %>
    <%= f.text_area :text %>
  </div>
  <div class="actions">
    <%= f.submit 'Add Comment' %>
  </div>
<% end %>
<%= link_to 'Back', user_post_path(@user, @post) %>
