<% if flash[:error].present? %>
  <div class="alert alert-danger">
    <%= flash[:error] %>
  </div>
<% end %>
<h1>Here is detail of a post for a specific user</h1>
<div class="post-detail-row">
  <div class="post-title">
    <!-- Your post content here -->
  </div>
  <div class="post-stats">
    Comments: <%= @post.comments.count %> | Likes: <%= @post.likes.count %>
  </div>
</div>


<!-- Like Button or Message -->
<div class="like-btn">
  <% if @post.liked_by?(current_user) %>
    <p>You already liked this post.</p>
  <% else %>
    <%= form_with(model: [@user, @post, Like.new], url: user_post_likes_path(@user, @post), method: :post) do |form| %>
      <%= form.submit 'Like', class: 'btn btn-primary' %>
    <% end %>
  <% end %>
</div>


<!-- Add Comment Form -->
<div class="comments-container">
<%= form_for [@user, @post, @new_comment] do |f| %>
  <div class="comment">
    <%= f.label :text %>
    <%= f.text_area :text %>
  </div>
  <div class="add-comment-button">
    <%= f.submit "Add Comment" %>
  </div>
<% end %>
</div>


<!-- Display Existing Comments -->
<div class="comments-container">
  <h2>Comments</h2>
  <% @comments.each do |comment| %>
    <div class="comment">
      <span class="comment-author"><%= comment.user.name %> :</span>
      <span class="comment-text"><%= comment.text %></span>
    </div>
  <% end %>
</div>
