<% if flash[:error].present? %>
  <div class="alert alert-danger">
    <%= flash[:error] %>
  </div>
<% end %>

<h1>Here is the detail of a post for a specific user</h1>
<div class="post-detail-row">
  <div class="post-title">
    <%= @post.title %>
  </div>
  <div class="post-content">
    <%= @post.text %>
  </div>

  <div class="post-stats">
    Comments: <%= @post.comments.count %> |
    Likes: <%= @post.likes.count %>
  </div>
  
  <!-- Delete post -->
<% if @post.user_id == current_user %>
  <%= button_to 'Delete', user_post_path(@user, @post), method: :delete, data: { confirm: 'Are you sure?' }, class: 'delete-button' %>
<% end %>

   <div class="like-form">
    <% unless current_user == @post.author %>
      <% if current_user.likes?(@post) %>
        <%= form_tag unlike_user_post_path(@user, @post), method: :patch, class: 'like-form' do %>
          <%= hidden_field_tag 'like', 'false' %>
          <%= submit_tag 'Unlike', class: 'unlike-link' %>
        <% end %>
      <% else %>
      <%= form_tag like_user_post_path(@user, @post), method: :patch, class: 'like-form' do %>
        <%= hidden_field_tag 'like', 'true' %>
        <%= submit_tag 'Like', class: 'like-link' %>
      <% end %>
    <% end %>
  <% end %>
</div>

</div>

<!-- Add Comment Form -->
<div class="add-comments-container">
  <%= form_for [@user, @post, @new_comment || Comment.new] do |f| %>
    <div class="add-comment-div">
      <div class="comment">
        <%= f.label :text %>
        <%= f.text_area :text %>
      </div>
      <div class="add-comment-button">
        <%= f.submit "Add Comment" %>
      </div>
    </div>
  <% end %>
</div>

<!-- Display Existing Comments -->
<div class="comments-container">
  <h2>Comments</h2>
  <% @comments.each do |comment| %>
    <div class="comment">
      <span class="comment-author"><%= comment.user.name %> :</span>
      <span class="comment-text"><%= comment.text %></span>
      <!-- Delete comment -->
      <% if can? :destroy, comment %>
        <%= button_to 'Delete', comment, method: :delete, data: { confirm: 'Are you sure?' }, class: 'delete-button' %>
      <% end %>
    </div>
  <% end %>

<!-- Display New Comment -->
<% unless @new_comment.nil? || @new_comment.new_record? %>
  <div class="comment">
    <span class="comment-author"><%= @new_comment.user.name %> :</span>
    <span class="comment-text"><%= @new_comment.text %></span>
    <!-- Delete comment -->
    <% if can? :destroy, @new_comment %>
      <%= button_to 'Delete', [@user, @post, @new_comment], method: :delete, data: { confirm: 'Are you sure?' }, class: 'delete-button' %>
    <% end %>
  </div>
<% end %>

</div>
