<% if flash[:error].present? %>
  <div class="alert alert-danger">
    <%= flash[:error] %>
  </div>
<% end %>
<!-- posts/show.html.erb -->
<h1>Here is detail of a post for a specific user</h1>
<div class="post-detail-row">
  <div class="post-title">
    <!-- Your post content here -->
  </div>
  <div class="post-stats">
    Comments: <%= @post.comments.count %> | Likes: <%= @post.likes.count %>
  </div>
</div>

<!-- Add Comment Form -->
<div class="comments-container">
<%= form_for [@user, @post, @new_comment] do |f| %>
  <div class="comment">
    <%= f.label :text %>
    <%= f.text_area :text %>
  </div>
  <div class="add-comment-button">
    <%= f.submit "Add Comment" %>
  </div>
<% end %>
</div>


<!-- Display Existing Comments -->
<div class="comments-container">
  <h2>Comments</h2>
  <% @comments.each do |comment| %>
    <div class="comment">
      <span class="comment-author"><%= comment.user.name %> :</span>
      <span class="comment-text"><%= comment.text %></span>
    </div>
  <% end %>
</div>
