<h1>Here is detail of a post for a specific user</h1>
<div class="post-detail-row">
  <div class="post-title">
    <div class="title-author">
      <span class="post-name"><%= @post.title %></span> by <span class="author-name"><%= @user.name %></span>
    </div>
    <div class="post-stats">
      Comments: <%= @post.comments.count %> | Likes: <%= @post.likes.count %>
    </div>
  </div>
  <div class="post-content">
    <%= @post.text %>
  </div>
</div>

<% if @user == @current_user %>
  <!-- Display 'Like' link for the post if the current user is the author -->
  <% if @post.likes.find_by(user: @current_user) %>
    <%= link_to 'Unlike', user_post_like_path(@user, @post, @post.likes.find_by(user: @current_user)), method: :delete, class: 'like-link' %>
  <% else %>
    <%= link_to 'Like', user_post_likes_path(@user, @post), method: :post, class: 'like-link' %>
  <% end %>
<% end %>


<div class="comments-container">
  <h2>Comments</h2>
  <% @comments.each do |comment| %>
    <div class="comment">
      <span class="comment-author"><%= comment.user.name %> :</span>
      <span class="comment-text"><%= comment.text %></span>
    </div>
  <% end %>
</div>
